{%extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
{%block head %}
<title>Profile</title> {%endblock%}
</head>
<body>
	{% block body %} {%csrf_token%}
	<div class='container'>
		<h1>Profile</h1>
		<p>Username:{{user}}</p>
		<p>Firstname:{{user.first_name}}</p>
		<p>Lastname:{{user.last_name}}</p>
		<p>Email:{{user.email}}</p>
		<h4>This is coming from userprofile which we defined in model class</h4>
		<p>Description:{{user.userprofile.description}}</p> <!-- Note this is coming
		 from user profile data -->
		 <p>Phone:{{user.userprofile.phone}}</p>
		 <p>City:{{user.userprofile.city}}</p>
		 <img src="{{user.userprofile.image.url}}" width="240">
	</div>


	{% endblock %}
</body>
</html>
